@import 'tailwindcss';
@import './theme.css';

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: dark;
    color: var(--color-text);
    background-color: var(--color-surface);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
